html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2980b9;

}

header{
    height: 10%;
    background-color: #2980b9;
    color: #ffffff;
    padding: 5px;
}

.core{
    display: grid;
    height: 90%;
    width: 80%;
    grid-template-columns: 70% 30%;
}

.screen{
    display: grid;
    width: 100%;
    grid-template-rows: 60% 40%;
}

.upper-screen{
    width: 100%;
    display: grid;
    background-image: url("bg.png");
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    grid-template-columns: 50% 50%;

}

.ally-pokemon{
    position:relative;
}

.ally-pokemon img{
    width: 30%;
    position:relative;
    left: 30%;
    top:50%;
}

.ennemy-pokemon img{
    width: 30%;
    position:relative;
    left: 30%;
    top:30%;
}

.ennemy-pokemon{
    position:relative;
}

.active-pokemon{
    position:relative;
    font-weight: bold;
    font-size: 20px;
    width: 50%;
    left: 20%;
    color:white;
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black;
    text-align: center;
}

#active1{
    top:40%;
}

#active2{
    top:20%;
}

.active-status{
    position: relative;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    width: 10%;
    text-align: center;
    left: 31%;
}

#ally-pokemon-status{
    top:40%
}

#ennemy-pokemon-status{
    top:20%
}


.lower-screen{
    width: 100%;
    background-color: #f9f9f9; 
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.play-buttons{
    display: grid;
    grid-template-columns: 50% 50%;
}

.move{
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.your-team{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}

.battle-info{
    width: 100%;
    background-color: #e6e6e6; 
    padding: 20px;
    border-bottom: 1px solid #ccc;  
}

.ennemy-team{
    display: grid;
    grid-template-columns: 100%;
}

.pokemon-health-bar {
    position: relative;
    width: 30%; 
    height: 20px; 
    background-color: #ccc; 
    border: 2px solid #000; 
    border-radius: 10px; 
    overflow: hidden; 
}

#bar1{
    top:40%;
    left:30%;
}

#bar2{
    top:20%;
    left: 30%;

}

.pokemon-health-bar-inner {
    height: 100%;
    background-color: #4caf50; 
    transition: width 0.3s ease-in-out; 
}

.pokemon-health-bar-inner.low-health {
    background-color: #ffcc00; 
}

.pokemon-health-bar-inner.critical-health {
    background-color: #ff3300; 
}

