<!doctype html>
<html>
<head>
  <title>PokéIA</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='front.js') }}"></script>
  <script src="./static/connectionplayer.js" defer></script>

  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
 
<body>
  <header>
    <div class="title">PokéIA</div>
  </header>
    <div class="weather"></div>
    <div class="field">
      <div class="informative-header">Field Effect</div>
      <div class="field-effect"></div>
    </div>
    <div class="ally-hazards">
      <div class="informative-header">Hazards Ally Side</div>
      <div class="ally-hazards-list"></div>
    </div>
    <div class="ennemy-hazards">
      <div class="informative-header">Hazards Enemy Side</div>
      <div class="ennemy-hazards-list"></div>
    </div>
    <div class="core">
      <div class="screen">
        <div class="upper-screen">
          <div class="ally-pokemon">
            <div class="active-pokemon" id="active1"></div>
            <div class="pokemon-health-bar" id="bar1">
              <div class="pokemon-health-bar-inner" id="pokemon-health-bar1" style="width: 100%;"></div>
            </div>
            <div class="active-status" id="ally-pokemon-status"></div>
            <img id="ally-pokemon-img">
          </div>
          <div class="ennemy-pokemon">
            <div class="active-pokemon" id="active2"></div>
            <div class="pokemon-health-bar" id="bar2">
              <div class="pokemon-health-bar-inner" id="pokemon-health-bar2" style="width: 100%;"></div>
            </div>
            <div class="active-status" id="ennemy-pokemon-status"></div>
            <img id="ennemy-pokemon-img">
            
          </div>
        </div>
        <div class="lower-screen">
          <div class="buttons-container">
            <div class="play-buttons"></div>
            <div class="your-team"></div>
          </div>
          
        </div>
      </div>
      
      <div class="battle-info">
        <div class="ennemy-team-container">
          <div class="informative-header">Enemy Team</div>
          <div class="ennemy-team"></div>
        </div>
        
        <div id="ennemy-pokemon-infos">
          <div class="informative-header">Enemy Pokemon</div>
          <div id="ennemy-types"></div>
          <div id="ennemy-ability"></div>
          <div id="ennemy-boost">
            <div class="ennemy-boost-txt"></div>
            <div class="ennemy-boost-items"></div>
          </div>
          <div id="ennemy-volatile"></div>
        </div>
        <div id="ally-pokemon-infos">
          <div class="informative-header">Your Pokemon</div>
          <div id="ally-types"></div>
          <div id="ally-ability"></div>
          <div id="ally-item"></div>
          <div id="ally-stats"></div>
          <div id="ally-volatile"></div>
        </div>
        <div class="history">
          <div class="informative-header">History</div>
          <div class="history-items"></div>
        </div>
        
      </div>
    </div>
    <button id="connectButton">Start a battle</button>
    <div class="battle-end"></div>
</body>
</html>
